# dependencies
node_modules
.pnpm-store
.yarn

# build
.next
out
dist
build

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# next
next-env.d.ts

# prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/dev/*
**/dev.db
**/dev.db-journal

# storage
.uploads
public/uploads/*
!public/uploads/.gitkeep

# planning artefacts (not part of the product)
_plans/

# misc
coverage
*.tsbuildinfo
